@media screen and (max-width:1000px) {
    .main{
        width:100%;
    
        aside{
            width:30%;
            position: absolute;
            height:100%;
    
        }
    
        &-content{
            width:100%;
            height:100%;
    
            //header stylings
            header{
                
    
                .user{
                    min-width:40%;

                    .fa-bars{
                        margin:0 5px;
                        display: block;
                    }
                }
    
                
    
            }
    
            &-dashboard{
                padding:50px;


                //dashboard page styling
                .stats{
                    flex-wrap: wrap;

                    &-cards{
                        
                        width:27.6636%;
                        margin: 10px 1.3332%;
                    }
                }
    
            }
        }

        .login{

            .form{
                width:60%;
            }
        }
    }
    
    //modals styling

    .modal-overlay{
        
        .verify-modal{
            width:50%;
            
        }
    }
    
    
}