@media screen and (max-width:700px) {
    .main{
        width:100%;
   
    
        aside{
            width:60%;
        }
    
        &-content{
            width:100%;
            height:100%;
    
            //header stylings
            header{
                padding: 0 20px;                
               
    
                .user{
                    justify-content: space-between;
                    margin-left:1rem;
                    width:70%;
    
                    &-image{
                        width:30px;
                        height: 30px;
                    }

                }
            }
    
            &-dashboard{
                padding:20px;
    
                .coins-card{
                    min-height:200px;
                }

                //dashboard page styling
                .stats{
                    flex-wrap: wrap;
                    

                    &-cards{
                        
                        width:90%;
                        margin:10px auto;
                    }
                }
            }
        }

        .login{

            .form{
                width:80%;
            }
        }
    }

    //modals styling

    .modal-overlay{
        
        .verify-modal{
            width:80%;
            
        }
    }
    
    
}

@media screen and (max-width:350px) {
    .modal-overlay{
        
        .verify-modal{
            width:80%;
            padding:1rem;

            &-header{
               
        
                p{
                    font-size: 15px;
                }
            }

            input{
                width:95%;
                height:50px;
                margin-top: 10px;
                padding: 5px;
            }
        }
    }

    .btn-white{
        
        font-weight: 400;
        font-size: 12px;
        padding: 0 5px;
    
        .desc{
            text-align: left;
    
            .content{
                font-size: 10px;
                margin-top: 5px;
            }
        }
        
    }
}