@import './scss/config'; 

//main styling

.main{
    width:100%;
    background-color: $sec-background;
    display: flex;

    aside{
        width:13%;
        background-color: $background-color;
        box-shadow: $box-shadow;
        padding: 40px 0;
        z-index:1;

        .logo{
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: $primary-color;
            padding: 0 30px;
        }

        

        ul{
            padding:5px 0;
            list-style: none;
            
            a{
                text-decoration: none;
            }

            li{
                margin: 20px 0;
                padding: 0 30px;

                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: $dark-color;

                .active{
                    background: $primary-color;

                }

                i{
                    margin-right: 10px;
                    font-size: 20px;
                }

                .fas{
                    margin-right:20px;
                }
            }

            hr{
                border-color: $light-blue;
                margin: 50px 0;
            }

            .active{
                background: $primary-color;
                color:$background-color;
                height:40px;
                display: flex;
                align-items: center;
                width:50%;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;

            }

            .logout{
                color:#F10606;
            }
        }
    }

    &-content{
        width:87%;
        height:100%;

        //header stylings
        header{
            height:100px;
            background-color: $background-color;
            box-shadow: $box-shadow;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 50px;
            
            
            p{

                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 22px;
            }

            .user{
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-width:20%;

                .fa-bell{
                    position: relative;
                    color:blue;
    
                    .fa-circle{
                        position: absolute;
                        top:-3px;
                        left:5px;
                        font-size: 7px;;
                        color:red;
                    }

                    .notiBox{
                        width:200px;
                        max-height: 200px;
                        position: absolute;
                        padding:10px 20px;
                        box-shadow: $box-shadow;
                        z-index: 1;
                        background-color: $background-color;
                        border:1px solid $primary-color;
                        top:20px;
                        left:-115px;
                        border-radius: 5px;
                        overflow-y: auto;

                        .empty{
                            text-align: center;
                            color: $dark-color;
                            font-size: 15px;
                            font-family: $main-font;
                        }
                        h6{
                            margin:0;
                            padding:0;
                            text-align: center;
                        }

                        &-content{
                            display: flex;
                            justify-content:space-between;
                            align-items: center;
                            margin:10px 0;
                            font-family: $main-font;


                            p{
                                margin:0;
                                padding:0;
                                font-size:10px;
                                font-weight: 300;
                                text-transform: lowercase;
                                line-height: normal;
                                color: $dark-color;
                            }

                            button{
                                border:0.5px solid $primary-color;
                                color:$primary-color;
                                border-radius:10px;
                                font-size:10px;
                            }
                        }
                    }
                }

                &-image{
                    width:50px;
                    height: 50px;
                    border-radius:50%;
                }

                &-name{
    
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 22px; 
                }

                .fa-bars{
                    margin:0 10px;
                    display: none;
                }

                .fa-close{
                    font-size: 20px;
                }

                

                
            }

            .account-drop-down{
                display: flex;
                align-items: center;

                i{
                    margin-right:1.2rem;
                }

                p{
    
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    color: $dark-color;
                }
            }

            

        }

        &-dashboard{
            padding:20px 50px;
            height:100vh;

            .account-select{
                display: flex;
                align-items: center;
                padding: 0 20px;
                margin-bottom: 20px;
                justify-content: space-between;

                div{
                    display: flex;
                    align-items: center;

                    .fa-plus{
                        margin:0 10px;
                        color:$primary-color;
                        background-color: #caf9e0;
                        cursor: pointer;
                    }
                }
    
                select{
                    padding:10px;    
                    border:0.5px solid $grey-color;
                    margin: 0 10px;
    
                }
                
                p{
    
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: $primary-color;
                }
            }

            //dashboard page styling
            .stats{
                width: 100%;
                height:100px;
                display: flex;
                align-items: center;
                justify-content: left;

                &-cards{
                    background-color: $background-color;
                    height:80%;
                    width:23%;
                    margin: 10px 1%;
                    padding:10px;
                    position: relative;
                    

                    h3{
                        color: $primary-color;
                    }
                }
            }

            .transactions{
                .history{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 16px;
                    color: $dark-color;
                    margin-bottom:0;

                    .fa-plus{
                        color:$primary-color;
                        background-color: #caf9e0;
                        font-size: 30px;
                        cursor: pointer;
                    }
                }

                .today{
                    font-size: 15px;
                    color: $grey-color;
                }

                &-card{
                    background-color: $white-color;
                    box-shadow: $box-shadow;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem;
                    border-radius: 10px;
                    margin-top:20px;

                    p{
                        margin: 0px !important;
                    }

                    .start{
                        display: flex;
                        align-items: center;

                        .fa-arrow-up{
                            color:$primary-color;
                            background-color: #caf9e0;
                        }

                        .fa-arrow-right{
                            color:$orange-color;
                            background-color: #fbf7d1;
                        }

                        .details{
                            margin-left:10px;

                            .amount{
                                font-size: 14px;
                                color: #05C73B;
                                margin-top: 0.3rem !important;
                            }

                        }
                    }

                    .middle{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width:10%;
                        .fa-user{
                            color:$primary-color;
                            background-color: #caf9e0;
                            cursor: pointer;
                            position: relative;
            
                            .dropdown{
                                position: absolute;
                                width:200px;
                                min-height:100px;
                                background-color: $white-color;
                                box-shadow: $box-shadow;
                                top:30px;
                                left:10px;
                                padding:10px;
                                cursor: default;
                                border-radius: 5px;
            
                                p{
                                    color:$dark-color;
                                    font-size: 13px;
                                    font-family: $main-font;
                                }
            
                                ul{
                                    list-style: none;
                                    margin:0px !important;
                                    padding:0px !important;
            
                                    li{
                                        cursor: pointer;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                
                                        input{
                                            width:20px;
                                            height:20px;
                                        }
            
                                        p{
                                            font-size: 15px;
                                            color:$dark-color;
                                            font-family: $main-font;
                                            padding: 0;
                                            margin: 5px 0;
                                        }
                                    }
                                }
                                
            
                                
            
                                
            
                            }
                        }

                        .status{
                            display: flex;
                            justify-content: space-between;
                            width:30px;

                            .progress{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                p{
                                    font-size: 12px;
                                    color:$orange-color;
                                }
                            }

                            .pending{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                p{
                                    font-size: 12px;
                                    color:red;
                                }
                            }

                            .completed{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                p{
                                    font-size: 12px;
                                    color:$primary-color;
                                }
                            }

                            input{
                                width:10px;
                                height: 10px;
                                border:1px solid $primary-color;
                                margin: 0 5px;
                            }
                        }
                    }

                    .end{
                        text-align: right;

                        .date{
                            font-size: 14px;
                            color: $grey-color;
                        }

                        .coin-amount{
                            font-weight: 700;
                            margin-top: 0.3rem !important;
                        }
                    }
                }
            }

            .team{
                background-color: $background-color;
                box-shadow: $box-shadow;
                min-height: 200px;
                width: 100%;
                border-radius: 5px;
                padding:20px;

                .intro{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin:0 20px 0 0;

                    .add-member{
                        display: flex;
                        align-items: center;

                        form{
                            position: relative;
                            input{
                                height: 30px;
                                border: 1px solid $primary-color;
                                margin: 0 5px;
                                padding:0 5px;
                            }

                            .dropdown{
                                position: absolute;
                                width: fit-content;
                                height: fit-content;
                                background-color:$background-color;
                                box-shadow: $box-shadow;
                                border-radius: 5px;
                                padding:5px;

                                p{
                                    text-align: center;
                                }
                                
                                ul{
                                    position: relative;
                                    margin: 0;
                                    padding:0 20px;
                                }

                                li{
                                    cursor: pointer;
                                    margin:5px 0;
                                    padding: 0;
                                }
                            }
                        }

                        .fa-plus{
                            cursor: pointer;
                        }

                        
                    }
                }

                .table{
                    width:100%;

                    table{
                        width:100%;

                        th, td{
                            text-align: left;
                            padding: 10px 0;
                        }
                    }
                }
            }


        }
    }

    .login{
        display: flex;
        width:100%;
        height:100vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        p{
            font-size: 20px;
            font-weight: bold;
            color:$primary-color;
            margin-top:50px;
        }

        .form{
            width: 40%;
            margin: auto;
            background-image: url('../public/bg.webp');
            border-radius: 20px;;
            text-align: center;
            padding:50px 0;

            input{
                width: 80%;
                margin: auto;
                height:40px;
                padding:10px;
                margin: 10px 0;
                border-radius: 10px;
                border:0.5px solid $grey-color;
            }
        }
        
    }
}


//modals styling

.modal-overlay{
    position: fixed;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    top:0;
    left:0;

    .verify-modal{
        width:25%;
        min-height:25%;
        background-color: $white-color;
        box-shadow: $box-shadow;
        opacity: 1;
        position: absolute;
        border-radius: 10px;
        padding:2rem; 
    
        &-header{
            height:30px;
            width:100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
    
            p{
                font-weight: 700;
                font-size: 18px;
                color: $dark-color;
            }
        }
        input{
            width:95%;
            height:30px;
            margin-top: 5px;
            padding: 5px;
        }
    
       .modal-footer{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .fa-user{
                color:$primary-color;
                background-color: #caf9e0;
                cursor: pointer;
                position: relative;

                .dropdown{
                    position: absolute;
                    width:200px;
                    min-height:100px;
                    background-color: $white-color;
                    box-shadow: $box-shadow;
                    top:30px;
                    left:10px;
                    padding:10px;
                    cursor: default;
                    border-radius: 5px;

                    p{
                        color:$dark-color;
                        font-size: 13px;
                        font-family: $main-font;
                    }

                    ul{
                        list-style: none;
                        margin:0px !important;
                        padding:0px !important;

                        li{
                            cursor: pointer;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
    
                            input{
                                width:20px;
                                height:20px;
                            }

                            p{
                                font-size: 15px;
                                color:$dark-color;
                                font-family: $main-font;
                                padding: 0;
                                margin: 5px 0;
                            }
                        }
                    }
                    

                    

                    

                }
            }
       }
    }
}



@import './scss/ipad';
@import './scss/mobile'; 



